
 #Welcome {
    background-color:rgb(255, 255, 209);
	border-width: thin;
	border-style: solid;
	border-color: #000000;
	text-align: center;
}
 #header{
			   
      color:black;
      text-align:center;
      padding:5px;
	 
   

			  }
 #nav{
     line-height:25px;
     background-color:rgb(255, 255, 209);
     height:500px;
     width:300px;
     float:left;
     padding:5px;
		 }
#section ul {
  background: rgb(255, 255, 209);
  list-style-type: none;
  text-align: center;
}
#section li {
  color: red;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#section a {
  text-decoration: none;
  color: red;
  display: block;
}
#section a:hover {
  background: #F1F1F1;
  color: #333;
}

#footer{
     background-color:rgb(255, 255, 209);
     colour:#FFFFFF;
     clear:both;
     text-align:center;
     padding:20px;
	  }
 
.thumbnail {
	width: 142px;
	height: 147px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align: center;
	border-width: medium;
	border-style: solid;
	border-color: #000000;
	font-size: x-small;
	float: left;
}

